
@media (max-width: 1600px) {
    input[type="text"] {
        width: 100%;
    }
    /* Home Our Team */
    .overly1 {
        width: 90%;
    }

    /* Popup form */
    .form-popup {
        left: 403px;
    }
}

@media (max-width: 1499.98px) {
   
     /* Popup form */
     .form-popup {
        left: 310px;
    }
}

@media (max-width: 1399.98px) {
   /* Home Our team */
   .overly1 {
    width: 88%;
}

 /* Popup form */
 .form-popup {
    left: 285px;
}
}

@media (max-width: 1299.98px) {
    .overly1 {
        width: 86%;
    }

     /* Popup form */
 .form-popup {
    left: 259px;
}
}

@media (max-width: 1199.98px) {
    /* Slider text */
    .mainslide .carousel-inner h1 {
        font-size: 38px;
    }
   
     /* Popup form */
 .form-popup {
    left: 205px;
}
}


@media (max-width: 991.98px) {
    ul#menu-main-menu {
        display: block;
    }
    li#menu-item {
        padding-left: 0px !important;
    } 
    .vedio h2 {
        font-size: 30px;
    }  
    /* Home Counter */
    .counter h2 {
        font-size: 30px;
    }
    .counter h4.text-light {
        font-size: 15px;
    }
    /* Home Our Team */
    .overly1 {
        width: 82%;
        font-size: 13px;
    }
    .overly1 h5{
            font-size: 15px;
    }

    /* Popup Form */
    .form-popup {
        left: 90px;
    }
    .form-container {
        max-width: 582px;
    }
}

@media (max-width: 768px) {

 /* Our Partner */
    .carousel-inner .ww>div {
        /* display: none; */
    }

    .carousel-inner .ww>div:first-child {
        display: block;
    }

    /* Popup Form */
    .form-popup {
        left: 18px;
    }
    
}

@media (max-width: 767px) {
    .bgimgone{
        background-image: url('../img/ppp.png');
        background-size: cover;
        opacity: .5;
    }
    /* main slider */
    .mainslide .carousel-inner h1 {
        font-size: 30px;
    }
    .mainslide .carousel-item img {
        height: 700px !important;
    }
    .mainslide .carousel-caption {
        padding-bottom: 13.25rem;
    }
    /*Home About */
    h2 {
        font-size: 30px;
    }
    /* Our Partner */
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
    /* Home Our team */
    .overly1 {
        width: 87%;
    }
/* Popup FOrm */
    .form-popup {
        left: -9px;
    }
}

@media (max-width: 600px) {
 .vedio h2 {
        font-size: 21px;
    }
    /* Main slider */
    .mainslide .carousel-inner h1 {
        font-size: 22px;
    }

    .mainslide .carousel-item img {
        height: 600px !important;
    }
    .mainslide .carousel-caption {
        padding-bottom: 9.25rem;
    }
    /* Home Title */
    h2 {
        font-size: 25px;
    }

    /* Popup Form */
    .form-container {
        max-width: 437px;
    }
}
@media (max-width:575.98px){
    /* Home Our team */
    .overly1 {
        width: 94%;
    }
    /*Home Counter */
    .counter .col-md-3.col-sm-6.col-12 {
        padding-bottom: 28px;
    }

  /* Home Partner Slider */
  .had {
    padding-bottom: 36px;
}
.footer .col-sm-4.col-12 {
    padding-left: 35px;
}
.footer h3.text-light.fw-bold.fs-3 {
    padding-top: 40px;
}
.vedio .btn {
    font-size: 10px;
    padding: 12px 21px;
    font-weight: 500;
    font-family: var(--primary-font);
    text-transform: uppercase;
    border-radius: 0;
    transition: .4s all;
    border: none;
    line-height: 1;
    letter-spacing: 1px;
}
 /* Popup Form */
 .form-container {
    max-width: 340px;
}

}
@media (max-width: 359.98px) {
   /* Home Our team */
   .overly1 {
    width: 89%;
}

 /* Popup Form */
 .form-container {
    max-width: 260px;
}
}

@media (max-width: 319.98px) {
       /* Main slider */
       .mainslide .carousel-caption {
        padding-bottom: 5.25rem;
    }
    /*Home Services */
    .sec-title2 {
        font-size: 16px;
    }

    /* Popup Form */
 .form-container {
    max-width: 220px;
}
   }